<div class="forms">
  <form [formGroup]="recordForm" (ngSubmit)="onRecordSubmit()">
    <h2>New record</h2>
    <select
      *ngIf="graphList"
      name="graphName"
      id="graphName"
      formControlName="graphName"
    >
      <option *ngFor="let graph of graphList.graphs" value="graph.id">
        {{ graph.id }}
      </option>
    </select>
    <label for="date">Date</label>
    <input type="text" formControlName="date" name="date" />
    <label for="quantity">Quantity</label>
    <input type="number" formControlName="quantity" name="quantity" />
    <input type="submit" value="Add new record" />
  </form>
  <form [formGroup]="createGraphForm" (ngSubmit)="onCreateGraph()">
    <h2>New Graph</h2>
    <label for="id">Id</label>
    <input type="text" name="id" id="id" formControlName="id" />
    <label for="name">Name</label>
    <input type="text" name="name" id="name" formControlName="name" />
    <label for="unit">Unit</label>
    <select name="unit" id="unit" formControlName="unit">
      <option value="km">km</option>
      <option value="h">h</option>
      <option value="count">count</option>
    </select>
    <label for="type">Type</label>
    <select name="type" id="type" formControlName="type">
      <option value="int">integer</option>
      <option value="float">float</option>
    </select>
    <label for="color">Color</label>
    <select name="color" id="color" formControlName="color">
      <option value="shibafu">shibafu</option>
      <option value="momiji">momiji</option>
      <option value="sora">sora</option>
      <option value="ichou">ichou</option>
      <option value="ajisai">ajisai</option>
      <option value="kuro">kuro</option>
    </select>
    <input type="submit" value="Create" />
  </form>
</div>
