form
    display: flex
    flex-direction: column
    width: 20%
    min-width: 10rem
    border: 1px solid #eee
    border-radius: 5px
    padding: 1rem
    margin: 1rem
    label
        margin: 1rem 0 0.5rem
    input
        border-radius: 5px
        outline: none
        padding: 0.2rem
        &[type="submit"]
            margin-top: 0.5rem
            padding: 0.5rem
            background-color: #555
            border: none
            color: #eee
            &:hover
                background-color: #777
    h2
        margin: 0
